

:root {
  --neutral-900: #21214D;
  --neutral-600: #57577b;
  --neutral-300: #9393b7;
  --neutral-200: #cbcdd0;
  --neutral-0: #ffffff;
  --blue-700: #2a4cd5;
  --blue-600: #4865db;
  --blue-200: #c7d3f7;
  --blue-100: #E0E6FA;

  --red-700: #e60013;
  --red-300: #ff9b99;
  --indigo-200: #B8B1FF;
  --blue-300: #89caff;
  --green-300: #89e780;
  --amber-300: #ffc97c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RedditSans';
  src: url('/src/assets/fonts/RedditSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}